<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="yagw2api.explorer.rcp.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="etc/images/GW2Logo_32x32.png"
            thread="main">
         <run
               class="de.justi.yagw2api.explorer.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="yagw2api"
         point="org.eclipse.core.runtime.products">
      <product
            application="yagw2api.explorer.rcp.application"
            name="YAGW2API Explorer">
         <property
               name="appName"
               value="YAGW2API Explorer">
         </property>
         <property
               name="windowImages"
               value="etc/images/GW2Logo_16x16.png,etc/images/GW2Logo_32x32.png,etc/images/GW2Logo_48x48.png,etc/images/GW2Logo_64x64.png,etc/images/GW2Logo_128x128.png,etc/images/GW2Logo_256x256.png">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/yagw2api.explorer.rcp.application/etc/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">

      </menuContribution>
   </extension>

</plugin>
