<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="$jnlpCodebase"
    href="$outputFile">

<information>
#if($project.name)
    <title>$project.name</title>
#end
#if($project.Organization.Name)
    <vendor>$project.Organization.Name</vendor>
#end
#if($project.Description)
    <description>$project.Description</description>
#end
#if($project.Url)
    <homepage href="$project.Url"/>
#end

	<shortcut online="true">
    	<desktop/>
    	<menu submenu="Yet another GW2 API - Sample Application"/>
  	</shortcut>
	
	<offline-allowed/>
</information>

<security>
     <all-permissions/>
</security>

<resources>
    <j2se version="1.7+" href="http://java.sun.com/products/autodl/j2se" java-vm-args="-Declipselink.archive.factory=de.justi.yagw2api.analyzer.utils.ArchiveFactoryImpl" />
    $dependencies
</resources>
<application-desc main-class="$mainClass"/>
</jnlp>